Cypress\node_modules
Cypress\cypress-discovery\node_modules
Cypress\cypress-discovery\buger-eats\node_modules
Cypress\cypress-discovery\buger-eats\cypress\videos
Cypress\cypress-discovery\buger-eats\cypress\screenshots